.RegisterationForm {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.information{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: pink;
  margin: 5px;

}

.information input{
  width: 250px;
  height: 25px;
  font-size : 20px;
  padding-left: 10px;


}
.information button{
  width: 100px;
  height: 50px;
  margin-top: 15px;

}

.information button:hover{
  cursor : pointer;
}

